{% extends 'base.html' %}  
{% load widget_tweaks %}
{% block title%}
<title>Login</title>
{% endblock %} 

{% block content %} 

{% if form.non_field_errors %} 
{% for error in form.non_field_errors %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
    <p class="font-bold">Error!</p>
    <p class="block sm:inline">{{ error }}</p>
</div>
{% endfor %} 
{% endif %}
{% comment %}
<div class="grid grid-cols-3 gap-4">
    
    <div class="py-2 px-3 rounded-xl bg-white mt-12">
        <h1 class="font-bold text-3xl text-center pb-5 shadow-md">Login</h1>
        <div class="w-full mt-10">
            <form method="post" class="shadow-md border border-gray-200 rounded px-8 pt-6 pb-8 mb-4">
                {% csrf_token %}  {% endcomment %}

                {% comment %} {% for hidden_field in form.hidden_fields %} 
                {{ hidden_field.errors }} {{ hidden_field }} 
                {% endfor %}  {% endcomment %}

                {% comment %} {% for field in form.visible_fields %}
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
                    <input class="shadow appearance-none border border-gray-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}">
                </div>
                {% if field.errors %} 
                {% for error in field.errors %}
                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %} 
                {% endif %} 
                {% endfor %}

                <div class="flex items-center justify-center w-full">
                    <button class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Log In
            </button>
                </div>
            </form>
        </div>
    </div>
</div> {% endcomment %}



<div class="hero min-h-screen bg-base-200 ">
    <div class="hero-content flex-col lg:gap-20 lg:w-2/3 lg:flex-row-reverse">
      <div class="text-center lg:text-left ">
        <h1 class="text-5xl font-bold">Login now!</h1>
        <p class="py-6">Welcome back! Sign in for a faster and easier booking experience.</p>
      </div>
      <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <form class="card-body" method="post">
          {% csrf_token %}


          {% comment %} {% for field in form.visible_fields %}
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                {{ field.label }}
            </label>
                    <input class="shadow appearance-none border border-gray-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}">
                </div>
                {% if field.errors %} 
                {% for error in field.errors %}
                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %} 
                {% endif %} 
                {% endfor %} {% endcomment %}

                {% for field in form.visible_fields %}
          <div class="form-control">
            <label class="label" for="{{ field.id_for_label }}">
              <span class="label-text">{{ field.label }}</span>
            </label>
            <input class="input input-bordered" name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}" required />
            {% comment %} {% render_field form.username class+=" input input-bordered" type="text" placeholder="username" %} {% endcomment %}
          </div>
          {% if field.errors %} 
                {% for error in field.errors %}
                <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                {% endfor %} 
                {% endif %}
          {% endfor %}
          <div class="form-control">
            <label class="label">
              <a href="{% url 'registration'%}" class="label-text-alt link link-hover">Don't Have Account?</a>
            </label>
          </div>
          <div class="form-control mt-6">
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}